@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

:root {
  --background: #f8f8f8;
  --font: #111;
  --border: #333;
  --screen: rgb(247, 247, 247);
  --calculator: rgba(35, 30, 30, 0.767);

  --btn: #eee;
  --btn-hover: #ddd;
  --btn-active: #ccc;

  --btn-clear: rgb(252, 91, 91);
  --btn-clear-hover: rgb(226, 68, 68);
  --btn-clear-active: rgb(185, 49, 49);

  --btn-equal-sign: #39a5ed;
  --btn-equal-sign-hover: #349adf;
  --btn-equal-sign-active: #2976a9;

  --btn-operator: #10649c;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  height: 100%;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: var(--background);
  color: var(--font);
  height: 100%;
  position: relative;
}

.container {
  height: 100%;
}

.calculator {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 40rem;
  padding: 2rem;
  border: 1px var(--border) solid;
  padding: 2rem;
  border-radius: 1.5rem;
  background-color: var(--calculator);
}

.display {
  background-color: var(--screen);
  color: var(--font);
  font-size: 4rem;
  height: 8rem;
  width: 100%;
  padding: 2rem;
  border-radius: 0.8rem;
  border: 0.1rem var(--border) solid;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-end;
  text-align: end;
}

#current {
  font-size: 4rem;
}

#previous {
  font-size: 2rem;
}

.keys {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 1rem;
  padding: 2rem 0;
}

button {
  height: 6.5rem;
  background-color: var(--btn);
  border-radius: 0.5rem;
  border: 0.1rem var(--border) solid;
  font-size: 4rem;
  color: var(--font);
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

button:hover {
  background-color: var(--btn-hover);
}

button:active {
  background-color: var(--btn-active);
}

.operator {
  color: var(--btn-operator);
}

.delete {
  grid-column: 2 / span 2;
  font-size: 4rem;
}

.equal-sign {
  background-color: var(--btn-equal-sign);
  color: var(--btn);
  grid-column: 3 / 5;
}

.equal-sign:hover {
  background-color: var(--btn-equal-sign-hover);
}

.equal-sign:active {
  background-color: var(--btn-equal-sign-active);
}

.clear {
  background-color: var(--btn-clear);
  color: var(--btn);
}

.clear:hover {
  background-color: var(--btn-clear-hover);
}

.clear:active {
  background-color: var(--btn-clear-active);
}

footer {
  position: absolute;
  bottom: 1rem;
  left: 0;
  right: 0;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  font-size: 2rem;
  gap: 1rem;
}
