@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-family: 'Roboto', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  transition: background 0.4s ease;
}

.btn {
  background-color: #1e1a1a76;
  color: #fafafa;
  padding: 3rem 10rem;
  border-radius: 10px;
  font-size: 2rem;
  font-weight: bold;
  letter-spacing: 0.6rem;
  cursor: pointer;
  border: none;
}

.btn:focus {
  outline: 0;
  background-color: #1e1a1ac5;
}

.btn:active {
  transform: scale(0.96);
}
